.cart-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: auto;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}
/* .quantity-control button {
  background-color: #90ee90;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} */

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.quantity-control button[mat-icon-button] {
  color: #90ee90; /* Cor dos ícones de + e - */
}

.quantity-control button[mat-icon-button]:hover {
  color: #76c776; /* Cor dos ícones ao passar o mouse */
}

.quantity-control button:hover {
  background-color: #76c776;
}

button[mat-icon-button] {
  color: #ff4444; /* Cor do ícone */
}

button[mat-icon-button]:hover {
  color: #cc0000; /* Cor do ícone ao passar o mouse */
}

.cart-total {
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

.cart-button {
  background-color: #90ee90;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

.cart-button:hover {
  background-color: #76c776;
}
