.cart-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item img {
  width: auto;
  height: 50px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.cart-item button {
  /* background-color: #90ee90; */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control button {
  background-color: #90ee90;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.quantity-control button:hover {
  background-color: #76c776;
  border: 1px solid #181717;
}

button[mat-icon-button] {
  color: #ff4444;
}

button[mat-icon-button]:hover {
  color: #cc0000;
}

.cart-total {
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

.cart-button {
  background-color: #90ee90;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

.cart-button:hover {
  background-color: #76c776;
  font-weight: bold;
}
